{% extends "index.html" %}

{% block menu %}
  {{ super() }}
{% endblock menu %}

{% block content %}
    <div class="home">

      <h1 class="page-heading">Categories</h1>

      <ul class="post-list">
        {% for category in categories %}
          <li>
            <h2>
              <a class="post-link" href="{{ category.slug }}">{{ category.name }}</a>
            </h2>
          </li>
        {% endfor %}
      </ul>
    </div>

{% endblock content %}
