{% extends "index.html" %}

{% block menu %}
  {{ super() }}
{% endblock menu %}

{% block content %}
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta">
        <span>{{ page.reading_time }} minute read</span>
        • <time datetime="{{ page.date }}" itemprop="datePublished">{{ page.date | date(format="%d %B %Y") }}</time>
        {% if page.extra.author %}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span itemprop="name">{{ page.extra.author }}</span>
          </span>
        {% endif %}

        {% if config.generate_categories_pages %}
        • <span><a href="/categories/{{page.category}}">{{ page.category }}</a></span>
        {% else %}
  		• <span>{{ page.category }}</span>
        {% endif %}
    </p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ page.content | safe }}
  </div>

</article>
<div id="disqus_thread"></div>
<script>
  /**
  *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
  *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

  var disqus_config = function () {
    this.page.url = '{{ page.permalink | safe }}';
    this.page.identifier = '{{ page.slug | safe }}';
  };

  (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://deikatsuo.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>


{% endblock content %}
